<div class="middle">
  <h2>My Vessels (from API)</h2>
  <ul class="heroes">
    <li *ngFor="let vessel of ships" [class.selected]="vessel === selectedShip" (click)="onSelect(vessel)">
      <span class="badge">{{vessel.imoNumber}}</span>
      <span>{{vessel.objectName}}</span>
    </li>
  </ul>
  <div *ngIf="selectedShip">
    <h2>
      {{selectedShip.objectName | uppercase}} is currently positioned at 56&deg;28&prime;&nbsp;N 3&deg;04&prime;&nbsp;E.
    </h2>
    <button (click)="gotoDetail()">View Details</button>
  </div>
  <div>
    <label class="lighttext">Add vessel:</label> <input #shipName />
    <button (click)="add(shipName.value); shipName.value=''">
      Add
    </button>
  </div>
</div>


